# Build files/artifacts
build/

# Goland configuration
.idea/

# Dumb MacOS-only files
.DS_Store

# V8 bindings, which have to be generated
vendor/github.com/Baldomo/v8-go/

# Vendor directory, to keep repo size down